# ignore temporary files
*~

# ignore vscode files
.vscode*

# ignore texlive files
user_guide/*.aux
user_guide/*.bbl
user_guide/*.blg
user_guide/*.log
user_guide/*.pdf
user_guide/*.gz

# ignore build files for clang-tidy
compile_commands.json
